
$fon-size-xxl:28px;
$fon-size-xl:17px;
$fon-size-l:15px;
$fon-size-m:13px;
$fon-size-s:12px;

$breakPoint-monitor:1140px;
$breakPoint-laptop:960px;
$breakPoint-tablet:720px;
$breakPoint-mobile:540px;



$body-color:#E5E5E5;



